html, body {
  margin: 0;
  background: #000;
  overflow: hidden;
}

img {
  display: none;
}


.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
  display: block;
  height: 28px;
}
.twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
.twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}

.love-text {
  position: absolute;
  top: 700px;
  left: 750px;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(45deg, #f54f4f, #FF1493, #fff, #FFf);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flame-colors 4s infinite ease-in-out, flicker 2s infinite;
  text-shadow: 2px 2px 10px #ff3838, 0 0 20px #FF1493;
}

@keyframes flame-colors {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.9;
  }
}